:root {
  --text: #ebe9fc;
  --background: #010104;
  --primary: #3a31d8;
  --secondary: #020024;
  --accent: #0600c2;
}

#article {
  margin: 80px 3% 0;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--primary);
}