:root {
  --text: #ebe9fc;
  --background: #010104;
  --primary: #3a31d8;
  --secondary: #020024;
  --accent: #0600c2;

  --paragraph: 0.750rem;
  --h1: 4.210rem;
  --h2: 3.158rem;
  --h3: 2.369rem;
  --h4: 1.777rem;
  --h5: 1.333rem;
}

#article {
  margin: 150px 20px 0;
}

#article h1 {
  font-size: var(--h3);
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--primary);
  font-size: var(--h5);
}